@font-face {
    font-family: "iconfont"; /* Project id 3663856 */
    src: url('//at.alicdn.com/t/c/font_3663856_yklu1c8mgp8.woff2?t=1690519085756') format('woff2'),
         url('//at.alicdn.com/t/c/font_3663856_yklu1c8mgp8.woff?t=1690519085756') format('woff'),
         url('//at.alicdn.com/t/c/font_3663856_yklu1c8mgp8.ttf?t=1690519085756') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-xiangji1:before {
    content: "\e8bc";
  }
  
  .icon-collect:before {
    content: "\63";
  }
  
  .icon-fabu1:before {
    content: "\e653";
  }
  
  .icon-floor-settings:before {
    content: "\e659";
  }
  
  .icon-bell:before {
    content: "\e658";
  }
  
  .icon-wode:before {
    content: "\e62a";
  }
  
  .icon-daohang:before {
    content: "\e6e3";
  }
  
  .icon-faxian:before {
    content: "\e725";
  }
  
  .icon-fasong_f:before {
    content: "\e698";
  }
  
  .icon-album:before {
    content: "\e62b";
  }
  
  .icon-yuyinguanbi:before {
    content: "\e903";
  }
  
  .icon-qianbao:before {
    content: "\e61c";
  }
  
  .icon-icon_shezhi:before {
    content: "\eb8d";
  }
  
  .icon-kefu1:before {
    content: "\ec2e";
  }
  
  .icon-hangcheng2:before {
    content: "\e6b3";
  }
  
  .icon-line-105:before {
    content: "\e76b";
  }
  
  .icon-saoyisao:before {
    content: "\e608";
  }
  
  .icon-haoyouliebiao:before {
    content: "\e62e";
  }
  
  .icon-yaoqinghaoyou:before {
    content: "\e632";
  }
  
  .icon-like:before {
    content: "\e69d";
  }
  
  .icon-likefill:before {
    content: "\e69e";
  }
  
  .icon-84qiehuanyuyin:before {
    content: "\e69c";
  }
  
  .icon-a-jianpan1x:before {
    content: "\e607";
  }
  
  .icon-arrow-down-filling:before {
    content: "\e688";
  }
  
  .icon-add1:before {
    content: "\e66c";
  }
  
  .icon-qrcode:before {
    content: "\e71c";
  }
  
  .icon-meishi:before {
    content: "\e8f8";
  }
  
  .icon-jiudian:before {
    content: "\e610";
  }
  
  .icon-dianyingyanchu:before {
    content: "\e60c";
  }
  
  .icon-lvyouziyuan:before {
    content: "\e61e";
  }
  
  .icon-xiuxianqu:before {
    content: "\e624";
  }
  
  .icon-search:before {
    content: "\e614";
  }
  
  .icon-car:before {
    content: "\e61b";
  }
  
  .icon-zizhi-chuzuchegongsi:before {
    content: "\e609";
  }
  
  .icon-bus-fill:before {
    content: "\e64c";
  }
  
  .icon-ditiepiao:before {
    content: "\fb4e";
  }
  
  .icon-feiji-01:before {
    content: "\e7d1";
  }
  
  .icon-manyi:before {
    content: "\e8db";
  }
  
  .icon-message:before {
    content: "\e81e";
  }
  
  .icon-guanbi:before {
    content: "\e600";
  }
  
  .icon-cs-dw-xs-1:before {
    content: "\e62c";
  }
  
  .icon-to:before {
    content: "\e7e4";
  }
  
  .icon-empty-status:before {
    content: "\e60e";
  }
  
  .icon-star:before {
    content: "\edf9";
  }
  
  .icon-camera-fill:before {
    content: "\e86f";
  }
  
  .icon-photo:before {
    content: "\e655";
  }
  
  .icon-kefu:before {
    content: "\e621";
  }
  
  .icon-share:before {
    content: "\e88b";
  }
  
  .icon-luxian:before {
    content: "\e6e8";
  }
  
  .icon-shanchu:before {
    content: "\e8c1";
  }
  
  .icon-dagou:before {
    content: "\e61f";
  }
  
  .icon-riqi:before {
    content: "\e734";
  }
  
  .icon-user:before {
    content: "\e667";
  }
  
  .icon--_quanxuan:before {
    content: "\e636";
  }
  
  .icon-tabhangren:before {
    content: "\e60b";
  }
  
  .icon-add:before {
    content: "\e603";
  }
  
  .icon-menu:before {
    content: "\e62d";
  }
  
  .icon-Right:before {
    content: "\e613";
  }
  
  .icon-zhaopian:before {
    content: "\e660";
  }
  
  .icon-ic_share:before {
    content: "\e6c5";
  }
  
  .icon-toyCar-fill:before {
    content: "\e612";
  }
  
  .icon-call:before {
    content: "\e769";
  }
  
  .icon-ArrowRight:before {
    content: "\e60f";
  }
  